body {
	background-color: lightgray;
}
h1 {
	font-size: 36px;
	text-align: center;
	padding: 10px 0 0 0;
	margin: 0;
}
img {
	display: block;
    margin: 0 auto;
}
.about {
	background-color: white;
	width: 30%;
}
p {
	padding: 0 20px;
}
p._id {
	display: none;
}
p.name {
	display: none;
}
p.image {
	display: none;
}
p.ex {
	display: none;
}
p.facts {
	white-space: pre-wrap;
	padding-bottom: 10px;
}
p.image_name {
	display: none;
}
p.hidden {
	display: none;
}
/* If it is not of a certain display class then don't show it */