*,
*:before,
*:after{
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {   
	 text-align: center;
	 background: url("https://www.colorado.edu/coloradan/sites/default/files/article-image/cu_first_football_team-1.jpg") no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	 font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

}
h1 {
	text-align: center;
	font-size: 36px;
	padding: 10px 0px 10px 0px;
	margin: 0;
	opacity: 1.0;
}
img {
	display: block;
    margin: 0 auto;
    opacity: 1.0;
    max-height: 100%;
	width: auto;
	height: auto;

}
.container{
  display: flex;
  flex:1;

}
/*.nothing1{
	min-width:10%;
	width: 33.3%;
	order:1;
}
.nothing2{
	min-width: 10%;
	width: 33.3%;
	order:3;
}*/
.forAbout{
	background-color: black;
	width: 100%;
	height: 50em;
	order:2;
	opacity: 0.97;
}
.about {
	text-align: left;
	width: 100%;
	height: 50em;
	order:2;
	opacity: 1;
	/*padding-bottom: 50px;*/
}
.info{
	padding-left: 50px;
}

p {
	padding: 0;
	padding-bottom: 10px;
	opacity: 1.0;
	display: inline-block;
}
p._id {
	display: none;
}
p.name {
	font-size: 30px;
	font-weight: bold;
	padding-right: 15px;
}
p.image {
	display: none;
}
p.ex {
	display: none;
}
p.school{
	display: none;
}
p.occupation{
	display: block;
}
p.expected {
	display: inline-block;
	padding-right: 0;
}
p.year {
	display: inline-block;
	padding-bottom: 10px;
}
p.facts {
	white-space: pre-wrap;
	/*padding-bottom: 100px;*/
}
p.image_name {
	display: none;
}
p.alt_txt {
	display: none;
}
p.hidden {
	display: none;
}
p.icon {
	display: none;
}
p.icon_name {
	display: none;
}
#personImg{
	padding-right: 0px;
	padding-left: 0px;
	padding: 0 0px;

}
.tab {
	width: 100%;
    overflow: hidden;
    background-color: black;
}
.buttons {
	width: 100%;
	height: 200px;
	display: inline-flex;
	white-space: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	position: relative;
	z-index: 1;
}
.loop {
    height: 200px;
    white-space: nowrap;
}

/* Style the tab buttons */
.tablink {
    background-color: black;
    color: black;
    float: left;
    outline: none;
    cursor: pointer;
    font-size: 17px;
    min-width: 240px;
    border: none;
    z-index: 1;
    position: relative;
}

.buttons::-webkit-scrollbar { 
    display: none; 
}
/* Change background color of buttons on hover */
.tablink:hover {
    background-color: #777;
}

/* Set default styles for tab content */
.tabcontent {
    color: white;
    display: none;
    padding-bottom: 50px;
    z-index: 1;
    position: relative;
    
}

/* Style each tab content individually */ 
#Person0 {
	display: block;
}

/* If it is not of a certain display class then don't show it */

img {
	max-width: 100%;
    max-height: 100%;
    opacity: 1.0;
}
#arrowL{
	width: 7%;
	position: absolute;
	left: 9px;
	top: 812px;
	z-index: 3;
}
#arrowR{
	width: 7%;
	position: absolute;
	left: 657px;
	top: 812px;
	z-index: 3;
}


/* Drone animation styling */
       
#movingImage{
width: 20%;
border: 0px;
z-index: 2;
}
#firstImage {
width: 20%;
border: 0px;
z-index: 1;
}
#movingImage:active, :focus {
outline: 0;
border: none;
-moz-outline-style: none;

}
#firstImage:active, :focus {
outline: 0;
border: none;
-moz-outline-style: none;
}