<!DOCTYPE html>
<html>
    <head>
        <title>Display</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/display.css') }}">
        <script src="../static/js/tabs.js" defer></script>
        <!-- <meta http-equiv="refresh" content="1"> -->
    </head>
    <body>
      <div class="about">
        {% for i in range(personarr.count()) %}
      <div id="Person{{ i }}" class="tabcontent">
        <h1>{{ personarr[i]['name'] }}</h1>
        <p><img src='../static/imj/{{ personarr[i]['image_name'] }}' width='200' height='160' alt='{{ personarr[i]['alt_txt'] }}' title='{{ personarr[i]['alt_txt'] }}'></p>
        <p>
          {% for key in personarr[i] %}
            {% if key == 'ex' and personarr[i][key] == 1 %}
              <p class='expected'>ex </p>
            {% endif %}
            <p class='{{ key }}'> {{ personarr[i][key] }} </p>
          {% endfor %}
        </p>
      </div>
      {% endfor %}
    </div>
    <div class="buttons" id="image_rotate">
      <button class="tablink" onclick="openCity('Person0', this, 'red')" id="defaultOpen">{{ personarr[0]['name'] }}</button>
      {% for i in range(1, personarr.count()) %}
        <button class="tablink" onclick="openCity('Person{{ i }}', this, 'green')"><img src='../static/imj/{{ personarr[i]['icon_name'] }}' width='200' height='160' alt='{{ personarr[i]['alt_txt'] }}' title='{{ personarr[i]['alt_txt'] }}'></button>
        <!-- looking to replace all person images in scroll bar with corresponding graphics in img folder, match graphics to person in db for this-->
        {% endfor %}
      </div>
      <button onclick="scrollMe('left')"> < </button>
      <button onclick="scrollMe('right')"> > </button>
    </body>
</html>
