<!DOCTYPE html>
<html>
    <head>
        <title>{{ person['name'] }}</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/display.css') }}">
        <!-- <meta http-equiv="refresh" content="1"> -->
    </head>
    <body>
      <div class="about">
        <h1> {{ person['name'] }} </h1>
        <p><img src="../static/imj/{{ person['image_name'] }}" width="200" height="160" alt="image"></p>
        <p>
          {% for key in person %}
            {% if key == 'ex' and person[key] == 1 %}
              <p class='expected'>ex </p>
            {% endif %}
            <p class='{{ key }}'> {{ person[key] }} </p>
          {% endfor %}
        </p>
      </div>
    </body>
</html>
