<!DOCTYPE html>
<html>
    <head>
        <title>Edit</title>
    </head>
    <body>
    	<header>
            <div class="container">
              <h1 class="logo">Edit {{ person['name'] }}</h1>
              <strong><nav>
                <ul class="menu">
                  <li><a href="{{ url_for('hello') }}">Home</a></li>
                  <li><a href="{{ url_for('people') }}">People In Database</a></li>
                </ul>
              </nav></strong>
            </div>
          </header>
    	<div class="about">
	    	<p>This is a placeholder for the edit page.</p>
        <!-- Pull person passed in from database and display their information in the form -->
        <p>{{ person['school'] }} <br /> {{ person['birthday'] }}</p>

        <form action="" method="post" enctype="multipart/form-data">
            {{ form.csrf }}
 
            <div class="form-group">
              <label for="name">Name: </label>
              <input type="text" class="form-control" id="name" name="name">

            </div>
            <div class="input submit">
                <input type="submit" value="Update"/>
                <!-- default value??? -->
                <!-- How to get this to update database instead of adding new entry -->
            </div>
        </form>
	    </div>
    </body>
</html>