 <!-- Code adapted from https://pythonspot.com/flask-web-forms/ -->

<!DOCTYPE html>
<html>
    <head>
        <title>Add a Person</title>
    </head>
    <body>
      <script src="../static/js/makeform.js"></script>
          <header>
            <div class="container">
              <h1 class="logo">Add a Person</h1>
              <strong><nav>
                <ul class="menu">
                  <li><a href="{{ url_for('hello') }}">Home</a></li>
                  <li><a href="{{ url_for('people') }}">People In Database</a></li>
                  <li><a href="{{ url_for('edit') }}">Edit a Person</a></li>

                </ul>
              </nav></strong>
            </div>
          </header>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <img src="/static/imj/{{ message[1] }}" width="200" height="160" alt="image">
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <form action="" method="post" enctype="multipart/form-data">
            {{ form.csrf }}

            <div class="form-group">
              <label for="name">Name: </label>
              <input type="text" class="form-control" id="name" name="name">
              <!-- show image when uploaded -->
              <br>
              <label for="degree">Degree or Faculty/Staff: </label>
              <input type="text" class="form-control" id="degree" name="degree">
              <br>
              <!-- <p name="year" id="year">Graduation Year: </p> -->
              <label for="year">Graduation Year: </label>
              <p class="form-control" id="year" name="year"> </p>
              <br>
              <label for="occupation">Occupation or industry: </label>
              <input type="text" class="form-control" id="occupation" name="occupation">
              <br>
              <span class="btn btn-default btn-file">Upload An Image: <input type="file" name="image"></span>
              <br>
              <label for="school">School: </label>
              <select name="school">
                <option value="artsandsciences">College of Arts & Sciences</option>
                <option value="leedsbusiness">Leeds School of Business</option>
                <option value="education">School of Education</option>
                <option value="engineering">College of Engineering and Applied Science</option>
                <option value="graduate">Graduate School</option>
                <option value="lawschool">University of Colorado Law School</option>
                <option value="media">College of Media, Communication and Information</option>
                <option value="music">College of Music</option>
                <option value="continuinged">Continuing Education and Professional Studies</option>
                <option value="libraries">University Libraries</option>
                <option value="envdesign">Program in Environmental Design</option>
              </select>
              <br>
              <label for="facts">Facts: </label>
              <textarea class="form-control" id="facts" name="facts" rows="4" cols="45"></textarea>
            </div>
            <div class="input submit">
                <input type="submit" value="Submit" />
            </div>
        </form>
    </body>
</html>
