<!-- Code adapted from https://pythonspot.com/flask-web-forms/ -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN">
<html>
    <head>
        <title>Add a Person</title>
    </head>
    <body>
      <img src="testimage.jpg" width="100" height="80" alt="My Pic">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}

                <ul>
                    {% for message in messages %}
                        <li>{{ message[1] }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <form action="" method="post" enctype="multipart/form-data">
            {{ form.csrf }}

            <div class="form-group">
              <label for="name">Name: </label>
              <input type="text" class="form-control" id="name" name="name">
              <!-- show image when uploaded -->
              <br>
              <label for="degree">Degree or Faculty/Staff: </label>
              <input type="text" class="form-control" id="degree" name="degree">
              <br>
              <label for="occupation">Occupation or industry: </label>
              <input type="text" class="form-control" id="occupation" name="occupation">
              <br>
              <span class="btn btn-default btn-file">Upload An Image: <input type="file" name="image"></span>
              <br>
              <label for="number">Number: </label>
              <select name="number">
                <option value="one">1</option>
                <option value="two">2</option>
                <option value="three">3</option>
                <option value="four">4</option>
              </select>
            </div>
            <div class="input submit">
                <input type="submit" value="Submit" />
            </div>
        </form>
    </body>
</html>
