<!DOCTYPE html>
<html>
    <head>
        <title>People in Database</title>
    </head>
    <body>
    	<div class="about">
	    	<h1>People in Database</h1>
	    	<p>This is a placeholder for showing the people in the database.</p>
	    	<p>
	    		{% for person in people %}
                    <p>
                    	{% for attribute in person %}
                    		{{ attribute }}
                    	{% endfor %}
                	</p>
                {% endfor %}
	    	</p>
	    </div>
    </body>
</html>